DATABASE_URL=postgresql://user:password@localhost:5432/latex-preview-gen
LATEX_OUTGOING_API_SECRET_KEY=your-secret-key
LATEX_INCOMING_API_SECRET_KEY=your-secret-key
LATEX_API_BASE_URL=https://latex.example.com
DOWNLOAD_PATH=./data/downloads/
THUMBNAIL_PATH=./data/thumbnails/
#ENABLE_DIAG_PAGE=true # do not apply in production