DATABASE_URL=postgresql://user:password@localhost:5432/latex-preview-gen
LATEX_OUTGOING_API_SECRET_KEY=your-secret-key
LATEX_INCOMING_API_SECRET_KEY=your-secret-key
LATEX_API_BASE_URL=https://latex.example.com
DOWNLOAD_PATH=./data/downloads/
THUMBNAIL_PATH=./data/thumbnails/
YOUTUBE_DOWNLOAD_PATH=./data/youtube/downloads/
YOUTUBE_THUMBNAIL_PATH=./data/youtube/thumbnails/
YT_DLP_BINARY_PATH=./binaries
YT_DLP_BINARY=yt-dlp-wrapper.sh
YT_DLP_REAL_BINARY=./binaries/yt-dlp_linux
YT_DLP_COOKIES_PATH=./binaries/cookies.txt
YT_DLP_JS_RUNTIME=deno
#ENABLE_DIAG_PAGE=true # do not apply in production